*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --font-family: 'Inter', sans-serif;
}

body{
    padding: 100px;
    width: 1440px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.links a{
    text-decoration: none;
}

.hero{
    width: 100%;
    display: flex;
}

.left-side{
    margin-right: 30px;
    width: 75%;
}

.right-side{
    width: 25%;
}

.main-img{
    width: 100%;
}