*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --font-family: 'Inter', sans-serif;
    --font-weights: 400, 700, 800
}

main{
    padding: 100px;
    margin: auto;
    width: 1440px;
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.links a{
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

.links a:hover{
    color: var(--soft-orange);
}

/* Hero section*/
.hero{
    width: 100%;
    display: flex;
}

/* Left side of Hero section*/ 
.left-side{
    margin-right: 30px;
    width: 70%;
    
}

.main-img{
    width: 100%;
}

.intro{
    display: flex;
    margin: 20px 0;
}

.intro h1{
    
    width: 50%;
    font-size: 60px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    line-height: 1.75rem;
}

.read-more-btn{
    letter-spacing: .25rem;
    width: 50%;
    border: none;
    padding: 12px;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-weight: 600;
}

.read-more-btn:hover{
    cursor: pointer;
    background-color: var(--very-dark-blue);
}

/* Right side of Hero section*/
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 30%;
    background-color: var(--very-dark-blue);
}

.right-side h2{
    font-size: 32px;
    color: var(--soft-orange);
}

.new{
    border-bottom: 1px solid var(--dark-grayish-blue);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new:last-child{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new h3 a{
    text-decoration: none;
    color: var(--off-white);
}

.new h3 a:hover{
    color: var(--soft-orange);
}

.new p{
    font-size: 14px;
    color: var(--grayish-blue);
}

/* News section */
.news{
    display: flex;
    margin-top: 50px;
}

.news-img{
    max-width: 20%;
    height: auto;
}

.news-links{
    display: flex;
    gap: 15px;
}

.breakdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.art-num{
    font-size: 32px;
    color: var(--grayish-blue);
}

.headings a{
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 800;
}

.headings a:hover{
    color: var(--soft-red);
}